<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}} <!-- fornisce il parziale della pagina header.hbs -->
        <p>{{message}}</p>
        {{>footer}}
    </body>

</html>