<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather icon.png"> <!-- icona del sito web nei tab del browser-->
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">

            <!--<h1>{{title}}</h1>-->
            {{>header}}
            <img class="portrait" src="/img/immagine.png">
            <p>This site was created by Christian Vaccarino. It uses data from mapbox.com and aerisweather.com</p>

        </div>
        
        {{>footer}}

    </body>

</html>