<!DOCTYPE html>
<!-- Copiato da index.html -->
<html>
    <head>
        <!-- Inserisco il CSS -->
        <link rel="stylesheet" href="/css/styles.css">
        <!-- aggiungo file di javascript -->
        <script src="/js/app.js"></script>
    </head>

    <body>
        <!-- <h1>{{title}}</h1> --> <!-- Accede alla proprietà dell'oggeto definita in app.js nella funzione render -->
        {{>header}}
        {{>footer}}
    </body>

</html>