<!DOCTYPE html>
<!-- Copiato da index.html -->
<html>
    <head>
        <title>Weather App</title>
        <link rel="icon" href="/img/weather icon.png"> <!-- icona del sito web nei tab del browser-->
        <!-- Inserisco il CSS -->
        <link rel="stylesheet" href="/css/styles.css">
        <!-- aggiungo file di javascript -->
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your Weather</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id='message-1'></p>
            <p id='message-2'></p>

        </div>
        <!-- <h1>{{title}}</h1> --> <!-- Accede alla proprietà dell'oggeto definita in app.js nella funzione render -->
        
        {{>footer}}

        <script src="/js/app.js"></script> <!-- Messo in fondo perchè così la pagina lo legge per ultimo se no sopra nel tag meta creava errori in console su Chrome--> 
    </body>

</html>